
/Beute$1.class
/Aufteilen2.class
/Aufteilen3.class
/Aufteilen4.class
/AufteilenXX.class
/Aufteile_report.class
/Aufteilen_report.class
/AufteilenXXX.class
/RaueberinnenProblem.class
/RaeuberinnenProblem.class
/AufteilungsAlgorithmus.class
/Test.class
